RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} login
RewriteRule ^(.*)$ index.html [L,QSA] #redirect all traffic to index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ main.html [L,QSA] #redirect all traffic to index.html