#tickets-max-value-tab-info, #tickets-sms-settings-tab-info {
    display: flex;
    flex-direction: column;
}

#tickets-max-value-tab-info * , #tickets-sms-settings-tab-info * {
    margin: 0.15rem 0 0.20rem 0.05rem;
}

#tickets-enable-sms-check, #tickets-enable-email-check {
    display: inline-flex;
}

#tickets-enable-sms-check>div, #tickets-enable-email-check>div {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    color: rgb(120, 144, 156);
}

#tickets-max-value-tab-info * input, #tickets-sms-settings-tab-info * input {
    width: 50%;
}

#tickets-max-value-buttons-wrapper, #tickets-sms-settings-buttons-wrapper {
    margin-left: 0.5rem;
    width: 30%;
}

#tickets-max-value-tab-info>div>div:not(:last-child), #tickets-sms-settings-tab-info>div>div:not(:last-child) {
    padding: 0.5rem;
    color: rgb(120, 144, 156);
    width: 650px;
    border-bottom: 1px solid rgb(120, 144, 156);
}


.tickets-cashable {
    background-image: url("/images/cashable-table-indicator.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding-right: 16px;
}