#aft-add-transaction {
    padding: 0 1.5rem;
}
#aft-add-transaction button {
    font-weight: 600;
    font-size: 0.7rem;
}

#aft-advance-table-filter-active, #tickets-advance-table-filter-active{
    display: inline-flex;
    flex-flow: row wrap;
    background: rgb(55, 71, 79);
    color: rgb(120, 144, 156);
    min-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-left: 0.6rem;
    font-size: 0.7rem;
    border-left: 1px solid #2A353A;
    border-right: 1px solid #2A353A;
}
/*tickets page - advance filter active*/
.tickets-advance-active {
    background: rgb(55, 71, 79);
    border-top: 1px solid #2A353A;
    border-left: 1px solid #2A353A;
}
/*tickets page - icons*/
#tickets-show-space {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#aft-advance-table-filter-active>div, #tickets-advance-table-filter-active>div {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;
}

#aft-advance-table-filter-active>div:last-child, #tickets-advance-table-filter-active>div:last-child {
    margin: auto;
    padding: 0;
}

#aft-advance-table-filter-active , #tickets-advance-table-filter-active{
    padding: 0.5rem 0 0.5rem 0.6rem
}

#aft-advance-table-filter-active .element-table-filters {
    min-width: 100px;
    padding: 0.1rem 0 0.2rem 0.5rem;
    color:rgb(255,255,255) ;
}

#aft-advance-table-filter-active .default-select {
    border-radius: 10%;
}

#aft-advance-table-filter-active .element-table-filters:before {
    top: 0.5rem;
}

#aft-advance-table-filter-active button {
    font-size: 0.7rem;
}
#aft-advance-table-filter-active>div:last-child {
    margin: 0;
}

.aft-advance-active {
    border-top : 1px solid #2A353A;
    background: rgb(55, 71, 79);
    color: rgb(255,255,255);
    border-left: 1px solid #2A353A;
}

#aft-advance-table-filter-clear .btn-cancel {
    color: #3088D7 ;
}

#aft-enable-transaction-check .form-switch .form-icon {
    border:rgb(55, 71, 79);
}

#aft-enable-transaction-check .form-switch .form-icon:before {
    height:1rem ;
    width: 1rem;
 }

#Enable-transaction-mode {
    color:white;
}

#aft-export-pdf, #tickets-export-pdf {
    height: 35px;
    background-image: url("/images/pdf-export.png");
    background-repeat: no-repeat;
}

#aft-export-xls, #tickets-export-xls {
    height: 35px;
    background-image: url("/images/xls-export.png");
    background-repeat: no-repeat;
}
