#aft-add-transaction button {
    font-weight: 600;
    font-size: 14px;
}

.tickets-advance-active {
    background: rgb(55, 71, 79);
    border-top: 1px solid #2A353A;
    border-left: 1px solid #2A353A;
}

/*tickets page - icons*/

#tickets-show-space {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#aft-advance-table-filter-active>div, #tickets-advance-table-filter-active>div {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.4rem 0.3rem 0.3rem;
}

#aft-advance-table-filter-active .default-select {
    border-radius: 10%;
}

#aft-advance-table-filter-active button {
    font-size: 0.7rem;
}

#aft-advance-table-filter-active>div:last-child {
    margin: 0;
}

.aft-advance-active {
    background: rgb(55, 71, 79);
    color: rgb(255, 255, 255);
}

#aft-advance-table-filter-clear .btn-cancel {
    color: rgb(152, 207, 255);
}

#Enable-transaction-mode {
    color: white;
}

#aft-export-pdf, #tickets-export-pdf, #aft-export-xls, #tickets-export-xls {
    cursor: pointer;
    height: 35px;
    background-repeat: no-repeat;
}

#aft-export-pdf, #tickets-export-pdf {
    background-image: url("/images/pdf-export.png");
}

#aft-export-xls, #tickets-export-xls {
    background-image: url("/images/xls-export.png");
}

#aft-add-transaction {
    padding: 0 0.5rem;
}

#aft-advance-table-filter-active-infobar {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    background: rgb(55, 71, 79);
    color: rgb(120, 144, 156);
    min-width: 100%;
    position: relative;
    font-size: 10px;
    visibility: hidden;
}

#aft-advance-table-filter-active-infobar>div:first-child {
    padding: 0 0.5rem;
}

.infobar-wrapper-info {
    display: inline-flex;
}

.infobar-wrapper-info>div:not(:first-child) {
    color: white;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.5rem;
}

#aft-advance-table-filter-active>div {
    display: inline-flex;
    width: 100%;
    padding: 0.5rem;
}

.advance-filter-active>div:not(:first-child)>div:not(:last-child)>div:first-child {
    min-width: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
}

.advance-filter-active>div:not(:first-child)>div:not(:last-child)>div:last-child {
    width: 200px;
}

.advance-filter-active {
    background: rgb(55, 71, 79);
}

.advance-filter-active>div:not(:first-child) {
    display: grid;
    background: rgb(55, 71, 79);
    color: rgb(120, 144, 156);
    position: absolute;
    min-width: 250px;
    max-width: 500px;
    left: 0;
    z-index: 100;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.advance-filter-active>div:not(:first-child)>div:last-child {
    background: rgb(38, 50, 56);
}

.advance-table-filter-select>.default-select>div:first-child, .advance-table-filter-select>.default-date-select>div:first-child {
    width: 200px;
}