#AFT-tabs-wrapper {
    display: inline-flex;
    width: 100%;
    border-bottom: 2px solid black;
    color: rgb(120, 144, 156);
    margin: 1rem 0;
}

#AFT-tabs-wrapper>div {
    padding: 0 0.5rem;
    cursor: pointer;
}

#page-AFT>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.aft-info-tab {
    flex: 1;
    padding: 0.5rem;
    background: rgb(38, 50, 56);
}

#AFT-enable-transaction-check, #AFT-enable-notification-check {
    display: inline-flex;
}

#AFT-enable-transaction-check>div, #AFT-enable-notification-check>div {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    color: rgb(120, 144, 156);
}

#AFT-tabs-enable-transaction-info>div:not(:last-child), #AFT-tabs-notification-settings-info>div:not(:last-child) {
    padding: 0.5rem;
    color: rgb(120, 144, 156);
    width: 320px;
    border-bottom: 1px solid rgb(120, 144, 156);
}

#AFT-tabs-enable-transaction-info>div:last-child, #AFT-tabs-notification-settings-info>div:last-child {
    padding: 1rem 0.5rem;
}

#aft-notification-another-phone, #aft-notification-another-email {
    padding-top: 0.5rem;
}