.tickets-advance-active {
    background: rgb(55, 71, 79);
    border-top: 1px solid #2A353A;
    border-left: 1px solid #2A353A;
}

/*tickets page - icons*/

#tickets-show-space {
    border-left: 1px solid black;
    border-right: 1px solid black;
}



.aft-advance-active {
    background: rgb(55, 71, 79);
    color: rgb(255, 255, 255);
}

#aft-advance-table-filter-clear .btn-cancel {
    color: rgb(152, 207, 255);
}

#Enable-transaction-mode {
    color: white;
}

#aft-export-pdf, #tickets-export-pdf, #aft-export-xls, #tickets-export-xls {
    cursor: pointer;
    height: 35px;
    background-repeat: no-repeat;
}

#aft-export-pdf, #tickets-export-pdf {
    background-image: url("/images/pdf-export.png");
}

#aft-export-xls, #tickets-export-xls {
    background-image: url("/images/xls-export.png");
}

#aft-add-transaction {
    padding: 0 0.5rem;
}