.opacity {
    position: fixed;
    width: 0;
    height: 100%;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
}

.opacity.show {
    visibility: visible;
    width: 100%;
}