.hidden {
    display: none !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    cursor: pointer;
}

.tabs-wrapper {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid rgb(38, 50, 56);
    color: rgb(120, 144, 156);
    margin: 1rem 0;
}

.tabs-wrapper>div {
    padding: 0 0.5rem;
}

.custom-filter {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(38, 50, 56);
    color: rgb(120, 144, 156);
    display: inline-flex;
    white-space: nowrap;
}

.custom-filter>div:not(:first-child) {
    display: inline-flex;
    padding: 0.5rem 0;
}

.custom-filter>div:first-child {
    padding: 0.5rem;
}

.custom-filter>div:not(:last-child) {
    border-right: 1px solid black;
}

.advance-table-filter {
    cursor: pointer;
    position: relative;
    display: block;
}
.advance-table-filter>div:first-child{
    padding: 0 0.5rem;
}

.advance-table-filter::before {
    content: "";
    position: absolute;
    right: 3px;
    top: 1rem;
    width: 0;
    height: 0;
    border-top: 0.4rem solid rgb(30, 155, 227);
    border-right: 0.15rem solid transparent;
    border-left: 0.15rem solid transparent;
}

.custom-right-filter {
    display: inline-flex;
    position: absolute;
    right: 0;
    border: none;
}

.custom-right-filter>div {
    border-left: 1px solid black;
}

.custom-filter>div:not(:first-child)>div {
    padding: 0 0.5rem
}

.chosen-info-tab {
    flex: 1;
    padding: 0.5rem;
    background: rgb(38, 50, 56);
    color: rgb(120, 144, 156);
    position: relative;
}