.hide {
    visibility: hidden;
    width: 0;
    height: 0;
}

.search {
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 2px solid rgb(30, 155, 227);
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}