.default-select, .default-date-select {
    background: rgb(38, 50, 56);
    color: white;
    cursor: pointer;
    margin: 0 0.5em;
    position: relative;
}

.default-select>div:first-child, .default-date-select>div:first-child {
    width: 120px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    position: relative;
    border: 1px solid rgb(55, 71, 79);
}

.default-select>div:first-child>div:first-child, .default-date-select>div:first-child>div:first-child {
    padding-right: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.default-select>div:not(:first-child), .option-select-date {
    min-width: 120px;
    max-width: 450px;
    max-height: 250px;
    background: rgb(38, 50, 56);
    position: absolute;
    border: 1px solid rgb(55, 71, 79);
    border-top: none;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.active-date-select>div:first-child, .active-single-select>div:first-child, .active-multi-select>div:first-child {
    border-bottom: 1px solid rgb(38, 50, 56);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.default-select>div:not(:first-child)>div {
    padding: 0.2rem 0.5rem;
    overflow: hidden;
}

.default-select>div:not(:first-child)>div>label>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.default-select label {
    cursor: pointer;
    pointer-events: none !important
}

.default-select>div:not(:first-child)>div:hover, .default-date-select>div:not(:first-child)>div:first-child>div:hover {
    background: rgb(55, 71, 79);
}

.option-select-date, .timepicker {
    display: flex;
    flex-direction: row;
}

.option-select-date>div {
    width: 100%;
}

.option-select-date>div:first-child>div {
    padding: 0.2rem 0.5rem;
}

.option-select-date>div:first-child {
    min-width: 120px;
}

.option-select-date>div, .choose-date-time {
    display: flex;
    flex-direction: column;
}

.custom-date-buttons-wrapper {
    margin: 0.5rem 0;
}

#tickets-machines-number {
    border-left: none;
}

#tickets-advance-table-filter-clear .btn-cancel {
    color: #3088D7;
}

#tickets-tab-info {
    padding-right: 0 !important;
}

/*aft and tickets active filters option size*/

#tickets-advance-table-filter-status .default-select .multiple-group, #tickets-advance-table-filter-types .default-select .multiple-group, #tickets-advance-table-filter-column .default-select .multiple-group, #aft-advance-table-filter-finished .default-select .multiple-group, #aft-advance-table-filter-jackpot .default-select .multiple-group, #aft-advance-table-filter-type .default-select .multiple-group, #aft-advance-table-filter-status .default-select .multiple-group, #aft-advance-table-filter-column .default-select .multiple-group {
    width: 200px;
}

.tbody::-webkit-scrollbar {
    height: 0.4rem;
}