.default-select, .default-date-select {
    background: rgb(38, 50, 56);
    color: white;
    cursor: pointer;
    margin: 0 0.5rem;
    position: relative;
}

.default-date-select {
    width: 100%;
    border-radius: 15%;
}

.default-date-select > .element-table-filters {
    width: auto;
    padding: 0.1rem 0.7rem 0.2rem 0.8rem;
    border-radius: 15%;

}

.default-select > div:first-child:before, .default-date-select > div:first-child:before {
    content: "";
    position: absolute;
    right: 3px;
    top: 0.6rem;
    width: 0;
    height: 0;
    border-top: 0.3rem solid rgb(30, 155, 227);
    border-right: 0.15rem solid transparent;
    border-left: 0.15rem solid transparent;
}

.default-select > div:first-child, .default-date-select > div:first-child {
    width: 60px;
    font-size: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.2rem 0rem 0.2rem 1.3rem;
    position: relative;
    border: 1px solid rgb(55, 71, 79);
    border-radius: 10%;
    color: #708690;

}

.default-select > div:not(:first-child), .option-select-date {
    /*min-width: 120px;*/
    /*max-width: 400px;*/
    width: 100%;
    max-height: 300px;
    background: rgb(38, 50, 56);
    position: absolute;
    border: 1px solid rgb(55, 71, 79);
    border-top: none;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.active-date-select > div:first-child, .active-single-select > div:first-child, .active-multi-select > div:first-child {
    border-bottom: 1px solid rgb(38, 50, 56);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.default-select > div:not(:first-child) > div {
    padding: 0.2rem 0.5rem;
    overflow: hidden;
}

.default-select > div:not(:first-child) > div > label > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.default-select label {
    cursor: pointer;
}

.default-select > div:not(:first-child) > div:hover, .default-date-select > div:not(:first-child) > div:first-child > div:hover {
    background: rgb(55, 71, 79);
}

.multiple-group > div > label > div, .multiple-group > div > label > i, .multiple-group > div > label {
    pointer-events: none;
}

.option-select-date, .timepicker {
    display: flex;
    flex-direction: row;
}

.option-select-date > div {
    width: 100%;
}

.option-select-date > div:first-child > div {
    padding-left: 0.5rem;
}

.option-select-date > div:first-child {
    min-width: 120px;
}

.option-select-date > div, .choose-date-time {
    display: flex;
    flex-direction: column;
}

.custom-date-buttons-wrapper {
    margin: 0.5rem 0;
}

#tickets-advance-table-filter-print-date .option-select-date {
    width: 100px;
}

#tickets-advance-table-filter-print-date .element-table-filters {
    width: 100px;
}

#tickets-advance-table-filter-print-date .option-select-date .single-option {
    width: 100px;
}

#aft-advance-table-filter-date-range .option-select-date .single-option {
    width: 100px;
}

#tickets-advance-table-filter-active .option-select-date .single-option {
    width: 100px;
}

#tickets-advance-table-filter-active .element-table-filters {
    width: 100px;
}
