.default-select {
    background: rgb(38, 50, 56);
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
}

.default-select>div:first-child:before {
    content: "";
    position: absolute;
    right: 3px;
    top: 0.7rem;
    width: 0;
    height: 0;
    border-top: 0.4rem solid rgb(30, 155, 227);
    border-right: 0.15rem solid transparent;
    border-left: 0.15rem solid transparent;
}

.default-select>div:first-child {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    position: relative;
    border: 1px solid rgb(55, 71, 79);
}

.default-select>div:not(:first-child) {
    width: 120px;
    max-height: 140px;
    background: rgb(38, 50, 56);
    position: absolute;
    border: 1px solid rgb(55, 71, 79);
    border-top: none;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0, 0.5);
    z-index: 1;
}

.active-select>div:first-child {
    border-bottom: none;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0, 0.5);
}

.default-select>div:not(:first-child)>div {
    padding-left: 0.5rem;
    width: 120px;
    overflow: hidden;
}

.default-select>div:not(:first-child)>div.single-option {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.default-select>div:not(:first-child)>div>label>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.default-select label {
    cursor: pointer;
}

.default-select>div:not(:first-child)>div:hover {
    background: rgb(55, 71, 79);
}

.multiple-group>div>label>div, .multiple-group>div>label>i, .multiple-group>div>label {
    pointer-events: none;
}