#details-bar {
    position: absolute;
    transform: translateX(0);
    top: -6%;
    right: -1%;
    width: 40%;
    height: 106%;
    background: rgb(38, 50, 56);
    z-index: 1;
    transition: all 0.2s ease;
    color: rgb(120, 144, 156);
    overflow: hidden;
}

#details-bar.collapse {
    transform: translateX(101%);
}

#machines-header {
    position: relative;
    width: 100%;
    height: 20%;
    background: rgb(55, 71, 79);
}

#machine-current-details {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 0.5rem;
    padding-bottom: 0;
}

#machine-current-name {
    padding: 0 0.5rem;
    color: white;
}

#machine-current-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
}

#machine-curent-casino {
    padding: 0 1.5rem;
}

#machine-close-details-bar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    padding-bottom: 0;
    cursor: pointer;
}

#machine-close-details-bar:hover>span, #info-tabs>div:hover {
    color: rgb(30, 155, 227);
}

#info-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
}

#info-tabs>div {
    padding: 0.5rem;
    cursor: pointer;
}

#edit-current-machine {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: rgb(30, 155, 227);
}

.tab-active {
    border-bottom: 2px solid rgb(30, 155, 227)!important;
    color: white !important;
}

#machine-info-content {
    height: 80%;
    padding: 0.5rem;
}

#machine-details-tab-info {
    display: flex;
    flex-direction: column;
}

#machine-details-tab-info>div {
    padding: 1rem 0;
}

#machine-general-info, #machine-tito, #machine-aft, #machine-service-tab-info>div:first-child {
    border-bottom: 2px solid rgb(55, 71, 79);
}

#machine-general-info>div, #machine-aft-casino, #machine-jackpot-casino, #machine-tito-system, #machine-service-tab-info>div:first-child, #machine-service-mode, #machine-service-info>div {
    display: flex;
    align-items: center;
}

#machine-general-info>div>div, .machine-category-info>div>div, #machine-tito-name, #machine-aft-name, #machine-service-info>div>div {
    padding: 0 0.5rem;
    color: white;
}

#machine-general-info>div>div:first-child, .machine-category-info>div>div:first-child, #machine-service-info>div>div:first-child {
    color: rgb(120, 144, 156);
}

.machine-category-info>div {
    display: flex;
    padding: 0 1.3rem;
}

#machine-jackpot-server {
    margin-left: 1.3rem;
    padding-top: 0.5rem;
}

#machine-jackpot {
    display: flex;
    flex-direction: column;
}

#machine-last-jackpot {
    flex: 1;
    padding: 0.5rem 1.3rem;
    padding-bottom: 0;
    color: white;
}

#machine-last-jackpot>.overflow-content {
    flex: 1;
}

#machine-service-mode {
    padding: 0 0.5rem;
}

#machine-service-tab-info>div {
    padding: 0.5rem 1.3rem;
}

#machine-history-tab-info {
    position: relative;
    padding: 0 0.8rem;
}

.active-content {
    width: 100%;
    height: 100%;
}

.table-head {
    position: absolute;
    width: auto;
    height: 100%;
    padding-bottom: 0.5rem;
    pointer-events: none;
}

.table-body {
    position: absolute;
    width: auto;
    height: 100%;
    padding-bottom: 0.5rem;
}

.table-head>table>tbody {
    visibility: hidden;
}

.table-body>table>thead {
    visibility: hidden;
}

#machine-meters-tab-info {
    display: flex;
    flex-direction: column;
}

#machine-meters-tab-header {
    width: 100%;
    border-bottom: 1px solid rgb(55, 71, 79);
}

#machine-meters-content {
    flex: 1;
}

#machine-meters-content>div {
    display: inline-flex;
    border-bottom: 1px solid rgb(55, 71, 79);
    cursor: pointer;
}

#machine-meters-content>div:hover {
    color: white;
}

.machine-meter-wrapper>div, .machine-meter-wrapper-time>div, .machine-meter-wrapper-info>div, .machine-meter-wrapper-info>div>div:not(:first-child), .machine-meter-wrapper-edit>div {
    display: flex;
    padding: 0 0.3rem;
}

.machine-meter-wrapper-edit {
    display: inline-flex;
    align-items: center;
}