#auto-select-status {
    color: green;
    padding-left: 0.5em;
    cursor: pointer;
}

.show-space {
    color: rgb(36, 82, 108);
    cursor: pointer;
    font-size: 24px;
}

.show-space-active {
    color: rgb(30, 155, 227);
}