#machines-filter {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(38, 50, 56);
    color: rgb(120, 144, 156);
    display: inline-block;
}

#machines-filter>div {
    display: inline-flex;
    align-items: center;
}

#machine-filters-content {
    width: auto;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    display: inline-flex;
    align-items: center;
}

#machine-filters-content>div {
    padding: 0 0.5rem;
    display: inline-flex;
    align-items: center;
}

#machine-search {
    padding: 0.5rem;
    display: inline-flex;
}

#auto-select-status {
    color: green;
    padding-left: 0.5rem;
    cursor: pointer;
}

.machine-filters-right {
    display: inline-flex;
    float: right;
}

.machine-filters-right>div {
    border-left: 1px solid black;
    padding: 0.5rem;
}

.mdi-view-sequential, .mdi-view-headline {
    color: rgb(36, 82, 108);
    cursor: pointer;
}

.machine-filters-show-space-active, .show-space-active {
    color: rgb(30, 155, 227);
}

.mdi-view-sequential:before, .mdi-view-headline:before {
    font-size: 24px;
}

#aft-right-filter {
    padding: 0;
}

#aft-show-space {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5rem 0.7rem;
}

#aft-machines-number {
    border-left: none;
    padding: 0.5rem;
}

/*select for number of results*/

#ss-4 .element-table-filters {
    background: #3A4950;
}

/*table body padding*/

#aft-tabs-transaction-info {
    padding-right: 0 !important;
}