#jackpot-add-jackpot {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    background: rgb(55, 71, 79);
}

#add-new-jackpot-wrapper {
    width: 100%;
    height: 100%;
    background: rgb(38, 50, 56);
    color: rgb(120, 144, 156);
    font-size: 14px;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
}

#add-new-jackpot-wrapper>div {
    width: 100%;
    height: 100%;
}

#add-new-jackpot-content-header,
#add-new-jackpot-content-inputs {
    padding: 0.5em;
}

#add-new-jackpot-content-inputs {
    display: flex;
    flex-flow: row wrap;
    white-space: nowrap;
    align-items: center;
}

#add-new-jackpot-content-inputs-wrapper {
    display: flex
}

#add-new-jackpot-content-inputs>div:not(:first-child) {
    margin-left: 0.5em;
}

.add-new-jackpot-control-settings {
    border-bottom: 3px solid #33454d;
    padding: 0.5em 0;
}

.add-new-jackpot-control-settings>div:first-child,
.add-new-jackpot-control-settings>div:first-child>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

#add-new-jackpot-content-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em
}

.add-new-jackpot-control-settings-info {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.add-new-jackpot-control-settings>div:not(:first-child) {
    margin: 0 0.5em 0 5.5em;
}

#add-new-jackpot-content-machines-participate>div:not(:first-child)>div {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 0.5em;
    align-items: center;
}

/* .add-new-jackpot-control-settings>div:not(:first-child)>div>div {
    margin-left: 0.5em;
} */

.add-new-jackpot-control-settings-info>div:first-child {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    white-space: nowrap;
}

.checked-add-new-jackpot-settings {
    color: white;
}

.expanded-add-new-jackpot-settings {
    padding-bottom: 0.5em;
}

#add-new-jackpot-content-header {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0.5em
}

#add-new-jackpot-content-advance-settings .default-select>div:first-child {
    width: 300px;
}

#add-new-jackpot-content-advance-settings>div:not(:first-child)>div {
    padding-bottom: 0.5em;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em 0;
}

.grid-3-columns>div {
    display: block;
    align-items: center;
    padding: 0 0.5em;
}

.grid-3-columns>.growth-pattern-tabs:nth-child(2) {
    margin: 0 0.5em;
}

#jackpot-grows-automatically-content {
    padding: 0.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#jackpot-grows-automatically-content>div:first-child .form-input,
#jackpot-grow-pattern-value-limit>div:first-child .form-input,
#jackpot-grows-by-bet .form-input,
.discreetly-tab-content .form-input {
    width: 450px;
    margin-left: 0.5em;
}

#jackpot-growth-pattern-after-reaching-max .default-select>div:first-child {
    width: 225px;
}

#jackpot-grows-automatically-content>figure {
    padding: 0.5em 0;
    grid-column: 1 / span 2;
}

#jackpot-grow-pattern-value-limit {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5.5em;
}

#jackpot-control-growth-period>div {
    padding: 0.5em;
    cursor: pointer;
}

.growth-pattern-tabs {
    background: rgb(30, 155, 227);
    height: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans";
    cursor: pointer;
    border: none;
    padding: 0 20px;
}

.pattern-active {
    background: rgb(30, 155, 227);
}

.pattern-not-active {
    background: rgb(55, 71, 79);
    color: black;
    outline: none;
}


#jackpot-grows-by-bet {
    padding: 0.5em 0;
}

#jackpot-grows-by-bet .form-input {
    width: 450px;
}

.choose-machines-wrapper {
    padding: 0.5em 0;
    display: flex;
}

.choose-machines-wrapper>div:nth-child(2) {
    padding: 0 0.5em
}

#jackpot-growth-pattern-tabs {
    padding: 0;
    display: flex;
}

#jackpot-growth-pattern-tabs.border-bottom {
    border-bottom: 2px solid rgb(30, 155, 227);
}

#jackpot-growth-pattern-tabs>div:nth-child(2) {
    margin: 0 0.5em
}

#jackpot-grows-discreetly-radio-buttons>div {
    margin: 0.5em 0;
    cursor: pointer;
}

#jackpot-grows-discreetly-radio-buttons>.border-bottom {
    border-bottom: 2px solid #33454d;

}

.jackpot-grows-discreetly-type-contents {}

.discreetly-tab-content>div {
    display: flex;
    padding-bottom: 0.5em;
}

.discreetly-tab-content>div>div {
    padding-right: 0.5em;
}

.discreetly-tab-content .default-select>div:first-child,
#tournament-dropdown-jackpot .default-select>div:first-child {
    width: 150px
}

.jackpot-level-exist-wrapper {
    display: flex;
}

.jackpot-level-exist-wrapper>div {
    margin: 0.5em;
    border: 1px solid #33454d;
    background: rgb(29, 38, 43);
    position: relative;
}

.jackpot-level-exist-wrapper>div>div:not(:last-child) {
    display: flex;
    margin: 0.5em;
}

.jackpot-level-exist-wrapper>div>div>div {
    padding: 0 0.5em
}

.edit-close-level-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

.edit-close-level-wrapper>div {
    cursor: pointer;
    padding: 0 !important;
    border: 1px solid rgb(55, 71, 79);
    margin: 2px;
}

.level-edit-button {
    color: rgb(30, 155, 227);
}

.jackpot-level-exist-wrapper>div:hover .edit-close-level-wrapper {
    visibility: visible;
}

#custom-radio-buttons {
    display: block;
}

#custom-level-conditions-wrapper {
    display: block;
}

.single-condition-wrapper {
    display: flex;
    margin-bottom: 0.5em
}

.single-condition-wrapper>a {
    padding: 0 1em;
}

.single-condition-wrapper:hover {
    color: white;
}

#add-new-jackpot-content-inputs-radio {
    padding: 0 0.5em;
}

#tournament-dropdown-jackpot-wrapper {
    display: flex;
}

.not-clickable .default-select {
    pointer-events: none;
    background: rgb(55, 71, 79);
}

.add-new-jackpot-time-interval-conditions-and-settings>.header-element {
    border-bottom: 1px solid #33454d;
    font-size: 14px;
    font-weight: 600;
}

.add-new-jackpot-time-interval-conditions-and-settings>div {
    padding: 0.5em
}

#add-new-jackpot-time-interval-dropdown {
    position: relative;

}

#add-new-jackpot-time-interval-dropdown>div:first-child {
    background: rgb(55, 71, 79);
    width: 250px;
    cursor: pointer;
}

#add-new-jackpot-time-interval-dropdown>div:not(:first-child) {
    position: absolute;
    border: 1px solid rgb(55, 71, 79);
    background: rgb(38, 50, 56);

}

#add-new-jackpot-time-interval-dropdown>div:not(:first-child)>div:not(:last-child) {
    padding: 0.5em 0.5em 0 0.5em;
}

#add-new-jackpot-time-interval-dropdown>div:not(:first-child)>div:last-child {
    padding: 0.5em;
}

#add-new-jackpot-time-interval-wrapper {
    width: 40%;
}

#add-new-jackpot-time-interval-dropdown-days .default-select>div:first-child:hover {
    background: rgb(55, 71, 79);
}

#add-new-jackpot-jackpot-time-interval-dropdown-buttons {
    display: flex;
    justify-content: flex-end;
}

#add-new-jackpot-time-interval-include-conditions-dropdown {
    position: relative;
    background: transparent;
    display: flex;
}

#add-new-jackpot-time-interval-include-conditions-dropdown:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #33454d;
    width: 99%;
    top: 50%;
}

#add-new-jackpot-time-interval-include-conditions-wrapper input {
    width: 350px
}

.add-new-jackpot-time-interval-conditions-and-settings .jackpot-control-active-time-settings>div {
    padding: 0 0.5em 0.5em 0.5em;
}

.control-active-time-interval-wrapper .button-link {
    padding: 0 1em;
}

.control-active-time-interval-wrapper:hover {
    color: white;
}

#winning-conditions-only-at-the-end-of-interval,
#winning-conditions-only-at-the-end-of-interval-custom {
    padding: 0 0.5em 0 2em;
}

#winning-conditions-only-at-the-end-of-interval-custom>div>div {
    padding: 0 0.5em;
}