#jackpot-add-jackpot {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    background: rgb(55, 71, 79);
}

#add-new-jackpot-wrapper {
    width: 100%;
    height: 100%;
    background: rgb(38, 50, 56);
    color: rgb(120, 144, 156);
    font-size: 14px;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
}

#add-new-jackpot-wrapper>div {
    width: 100%;
    height: 100%;
}

#add-new-jackpot-content-header,
#add-new-jackpot-content-inputs {
    padding: 0.5em;
}

#add-new-jackpot-content-inputs {
    display: flex;
    flex-flow: row wrap;
    white-space: nowrap;
}

#add-new-jackpot-content-inputs>div:not(:first-child) {
    margin-left: 0.5em;
}

.add-new-jackpot-control-settings {
    border-bottom: 1px solid rgb(120, 144, 156);
    padding: 0.5em 0;
}

.add-new-jackpot-control-settings>div:first-child,
.add-new-jackpot-control-settings>div:first-child>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

#add-new-jackpot-content-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em
}

.add-new-jackpot-control-settings-info {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.add-new-jackpot-control-settings>div:not(:first-child) {
    width: 100%;
}

#add-new-jackpot-content-machines-participate>div:not(:first-child)>div {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5em 0.5em 0.5em 2.5em;
    align-items: center;
}

/* .add-new-jackpot-control-settings>div:not(:first-child)>div>div {
    margin-left: 0.5em;
} */

.add-new-jackpot-control-settings-info>div:first-child {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    white-space: nowrap;
}

.checked-add-new-jackpot-settings {
    color: white;
}

.expanded-add-new-jackpot-settings {
    padding-bottom: 0.5em;
}

#add-new-jackpot-content-header {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0.5em
}

#add-new-jackpot-content-advance-settings .default-select>div:first-child {
    width: 300px;
}

#add-new-jackpot-content-advance-settings>div:not(:first-child)>div {
    padding: 0.5em 0.5em 0.5em 2.5em;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em;
    margin: 0 2.5em;
}

.grid-3-columns>div {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.grid-3-columns>button:nth-child(2) {
    margin: 0 0.5em;
}

#jackpot-grows-automatically-content {
    padding: 0.5em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#jackpot-grows-automatically-content>div:first-child .form-input,
#jackopot-grow-pattern-value-limit>div:first-child .form-input {
    width: 450px;
    margin-left: 0.5em;
}

#jackpot-growth-pattern-after-reaching-max .default-select>div:first-child {
    width: 225px;
}

#jackpot-grows-automatically-content>figure {
    padding: 0.5em 0;
    grid-column: 1 / span 2;
}

#jackopot-grow-pattern-value-limit {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2.5em;
}

#jackpot-control-growth-period>div {
    padding: 0.5em;
    cursor: pointer;
}

.pattern-active {
    background: #006ac4 !important;
}

#jackpot-value-limit-wrapper {
    padding: 0.5em;
    margin: 0 2.5em;
}

#jackpot-grows-by-bet {
    padding: 0.5em 3em;
}

#jackpot-grows-by-bet .form-input {
    width: 450px;
}

#add-new-jackpot-grows-by-bet-choose-machines-wrapper {
    padding: 0.5em 0;
    display: flex;
}

#add-new-jackpot-grows-by-bet-choose-machines-wrapper>div:nth-child(2) {
    padding: 0 0.5em
}