.jackpot-advance-active {
    background: rgb(55, 71, 79);
}

#page-jackpots>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

#jackpot-notification-save {
    padding: 0.5em;
}