#choose-machines-jackpot-wrapper {
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    z-index: 30;
    color: rgb(120, 144, 156);
    font-size: 14px;
}

#choose-machines-jackpot-wrapper>div {
    width: 70%;
    min-width: 800px;
    height: 70%;
    min-height: 570px;
    background: rgb(38, 50, 56);
    pointer-events: all;
    border: 1px solid rgb(55, 71, 79);
    display: flex;
    flex-direction: column;
    position: relative;
}

#choose-machines-jackpot-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5em;
    background: rgb(55, 71, 79);
}

#choose-machines-jackpot-header>div:not(:first-child) {
    position: absolute;
    right: 0;
    padding: 0.5em;
}

#choose-machines-jackpot-header>div:not(:first-child):hover {
    color: rgb(30, 155, 227);
    cursor: pointer;
}

#choose-machines-jackpot-chosen-filter {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    position: relative;
}

#choose-machines-jackpot-chosen-filter>div:last-child {
    position: absolute;
    right: 0;
    background: rgb(38, 50, 56);
    margin-right: 0.5em
}

#choose-machines-jackpot-chosen-filter>div {
    margin: 0 0 0 0.5em;
    background: rgb(55, 71, 79);
}

#choose-machines-jackpot-content {
    flex: 1;
    height: 100%;
    display: flex;
}

#choose-machines-jackpot-content>div {
    height: 100%;
}

#choose-machines-jackpot-content>div:first-child {
    width: 10%;
    padding-top: 2em;
    position: relative;
}

#choose-machines-jackpot-content-filters>div>div:not(:first-child) {
    width: 100%;
    cursor: default;
}

#choose-machines-jackpot-content-filters>div>div:not(:first-child) label {
    cursor: pointer;
    white-space: nowrap;
}

#choose-machines-jackpot-content>div:first-child>div {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#choose-machines-jackpot-content>div:first-child>div>div:first-child {
    position: relative;
    padding: 0.2em 1em 0.2em 0.5em;
    cursor: pointer;
}


#choose-machines-jackpot-content>div:not(:first-child) {
    width: 45%;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
}

#choose-machines-jackpot-content-unselected-machines>div:not(:first-child),
#choose-machines-jackpot-content-selected-machines>div:not(:first-child) {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    background: rgb(55, 71, 79);
    flex: 1;
    display: flex;
    flex-direction: column;
}

#choose-machines-jackpot-content-unselected-machines>div:first-child,
#choose-machines-jackpot-content-selected-machines>div:first-child {
    padding: 0.5em;
}

#choose-machines-jackpot-content-unselected-machines>div:not(:first-child)>div:last-child>button {
    float: right;
}

#choose-machines-jackpot-content-unselected-machines>div:not(:first-child)>div:first-child,
#choose-machines-jackpot-content-selected-machines>div:not(:first-child)>div:first-child {
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

#choose-machines-jackpot-content-unselected-machines-list,
#choose-machines-jackpot-content-selected-machines-list {
    flex: 1;
}

#choose-machines-jackpot-content-unselected-machines-list,
#choose-machines-jackpot-content-selected-machines-list {
    background: rgb(38, 50, 56);
    position: relative;
}

#choose-machines-jackpot-content-unselected-machines-list .pagination,
#choose-machines-jackpot-content-selected-machines-list .pagination {
    display: none
}

.choose-machines-jackpot-search>input {
    margin: 0.5em 0;
    border: 2px solid transparent;
}

#choose-machines-jackpot-buttons {
    margin: 0.5em;
    height: 36px;
    position: relative;
}

#choose-machines-jackpot-buttons>div {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.choose-machines-jackpot-search {
    padding: 0 0.5em;
}

.choose-machines-jackpot-confirm {
    position: relative;
    padding: 0.5em;
    background: rgb(38, 50, 56);
}

.option-city {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-city>div:not(:first-child) {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.option-city>div:not(:first-child)>div:first-child {
    width: 100%;
}

.color-white {
    color: white !important;
}

#choose-machines-jackpot-content-filters .overflow-y {
    padding: 0 0.5em
}

#choose-machines-jackpot-content-filters .overflow-y>div:not(:first-child) {
    padding: 0 0.5em
}

#choose-machines-jackpot-content-filters-casinos .overflow-y {
    max-height: 250px;
    padding: 0.5em
}