.cancel-transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    z-index: 4;
}

.cancel-transaction.toast.toast-error {
    background-color: #F33F37;
}

.cancel-transaction-buttons .btn.btn-link {
    align-self: center;
    color: white;
}