.d-flex {
    display:flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-baseline {
    align-items: baseline;
}
.btn-border-bottom-hover {
 border-bottom:1px solid white;
}