#content {
    background-color: brown;
    height: 80%;
    margin-left: 12%;
    border-left: 5px solid rgb(30, 30, 30);
    box-sizing: border-box;
}

#content.expand {
    margin-left: 2.5%;
    border: none;
}