.element-async-form {
    padding-left:30px;
    margin:0 !important;
}


.element-async-form .btn-success:hover {
    box-shadow: none;
}

.element-async-form .vertex-form-checkbox {
    margin: 0 0 0 15px !important;
    /*takodje resiti importante */
}
.element-async-form .form-label {
    font-size:15px;
    color:rgb(120, 144, 156);
}
.element-async-form .form-section {
    padding: 20px 0 0 0;
    color: rgb(120, 144, 156);
    display:flex;
    flex-direction: column;
}
.element-async-form button.btn {
    height:40px;
}
.element-async-form .form-buttons-section {
    padding-top: 30px;
}
.element-async-form .form-buttons-section button:not(:last-child) {
    margin-right:15px;
}

.element-async-form .form-section .form-section-content {
    max-width: 490px;
    padding: 0  !important;
    margin: 0 !important;
}
.element-async-form .form-section .form-section-content > label.checkbox-label {
  margin-bottom:0 !important;
}

.element-async-form .form-section.border-bottom .form-section-content {
    border-bottom: 1px solid #37474f;
    padding-bottom:20px !important;
}

.element-async-form .form-section .form-section-content label.form-label {
    padding:0;
}

.element-async-form .form-section .form-section-content input.form-input {
    max-width: 320px;
    margin-top:5px !important;
    border-radius: 0;
    border-bottom: 1px solid #778f9b;
}
.element-async-form .form-section .form-section-content .form-group:not(:last-child) {
    margin-bottom:20px !important;
}
.element-async-form .btn-success {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.26);
    width:120px;
    background-color:#1e9be3;
}
