@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
    font-family: 'roboto';
    user-select: none;
}

#black-area {
    position: fixed;
    width: 0;
    height: 100%;
    opacity: 0.7;
    background-color: rgb(10, 14, 16);
}

#black-area.show {
    width: 100%;
}

.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-content {
    overflow: auto;
}

.overflow-x::-webkit-scrollbar, .overflow-y::-webkit-scrollbar, .overflow-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.overflow-x::-webkit-scrollbar-track, .overflow-y::-webkit-scrollbar-track, .overflow-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(55, 71, 79);
    background-color: rgb(120, 144, 156);
}

.overflow-x::-webkit-scrollbar-thumb, .overflow-y::-webkit-scrollbar-thumb, .overflow-content::-webkit-scrollbar-thumb {
    background-color: rgb(55, 71, 79);
    border-radius: 50px;
}

