#login {
    position: relative;
    background-color: #2B353B;
    z-index: 1;
    height: 100vh;
}

#login .lang-selector {
    display: flex;
    float: right;
    margin: 30px 30px 0 0;
}

#login section {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#login section header {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 80px auto 0;
    background-color: #2B353B;
}

#login section header h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: "KayakSans-Bold";
    font-size: 80px;
    text-align: center;
    color: rgb(120, 144, 156);
}

#login section header h1::selection {
    color: #778F9A;
    background-color: #3D4A51;
}

#login section header h1::before {
    margin-bottom: -10px;
    margin-right: 3px;
    content: url("/images/logo-login.png");
}

#login section form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    width: 400px;
    height: 280px;
    margin: auto auto 0 auto;
    padding: 50px 20px 20px 20px;
    background-color: #3A4950;
    border: 1px solid rgb(120, 144, 156);
    border-radius: 5px;
}

#login section form input {
    -webkit-appearance: none;
    align-self: center;
    width: 100%;
    height: 45px;
    margin: 0 auto 35px;
    padding: 20px;
    border: 1px solid #778F9A;
    border-radius: 5px !important;
    font-size: 15px;
    font-family: "OpenSans-Semibold";
    color: white;
    background-color: #3A4950;
!important;
    border-bottom: 1px solid rgb(120, 144, 156);
}

.username-input:focus, .pass-input:focus {
    padding-top: 7px;
    border: 1px solid #778F9A;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(120, 144, 156, 0.16);
    background-color: rgb(55, 71, 79);
    outline: 0;
}

.form-submit {
    align-self: flex-end;
    min-width: 130px;
    max-width: 40%;
    margin: 0;
    padding: 0;
    background-color: #2999E0;
    border-color: #1e9be3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    border-radius: 5px !important;
    text-align: center;
    color: white;
}

.form-submit:hover {
    box-shadow: none;
    cursor: pointer;
}

.form-submit:focus {
    border: 1px solid #768E98;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    outline: 0;
}

.login-validation, .login-error, .login-incorrect {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1em;
    right: 1em;
    width: 20em;
    min-height: 10px;
    background-color: #f7a743;
    border: 2px solid #f7a743 !important;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16), 0 0 10px rgba(0, 0, 0, 0.16) !important;
    color: #fdedd7;
    font-weight: normal;
    text-align: center;
    z-index: 3;
}

#login-validation p, .login-error p, .login-incorrect p {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 12px 5px;
    padding: 0;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: white;
}

.login-validation p::before, .login-error p::before, .login-incorrect p::before {
    display: inline-block;
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("/assets/images/warning.png");
    background-repeat: no-repeat;
    background-size: 20px;
    content: "";
}

.login-incorrect {
    z-index: 4;
}

.login-error {
    background-color: #c75c58;
    border: 2px solid #c75c58 !important;
    color: white;
    z-index: 4;
}

.display {
    display: flex;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
