#machines-filter {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(38, 50, 56);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    color: rgb(120, 144, 156);
    height: 6%;
    width: 100%;
    justify-content: flex-start;
}

#filters {
    width: auto;
    height: 100%;
    border: 1px solid black;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
}

#filters>div {
    padding: 0 0.5rem;
}

#search-machine {
    padding: 0 0.5rem;
    width: 3%
}

#auto-search-status {
    width: 44%;
}

#auto-select-status {
    color: green;
    cursor: pointer;
}

#show-space {
    width: 25%;
}

#number-machines {
    padding: 0 0.5rem;
    width: 38%;
    border-right: 0 !important;
}

.right-filter {
    position: absolute;
    right: 1%;
    height: 6%;
    width: 20%;
}

.right-filter>div {
    border-left: 1px solid black;
    height: 100%;
}

.mdi-view-sequential {
    color: rgb(30, 155, 227);
}

.mdi-view-headline {
    color: rgb(36, 82, 108);
}