#machines-filter {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(38, 50, 56);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    color: rgb(120, 144, 156);
    height: 6%;
}

#filters {
    width: auto;
    height: 100%;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    display: inline-flex;
    align-items: center;
}

#filters>div {
    padding: 0 0.5rem;
}

#search-machine {
    padding: 0 0.5rem;
    display: inline-flex;
    height: 100%;
}

#auto-select-status {
    color: red;
    padding-left: 0.5rem;
    cursor: pointer;
}

#auto-search-status>div {
    height: 100%;
}

#show-space {
    padding: 0.5rem;
}

#number-machines {
    padding: 0 0.5rem;
}

.right-filter {
    display: inline-flex;
    float: right;
    height: 100%;
}

.right-filter>div {
    border-left: 1px solid black;
    padding: 0 0.5rem;
}

.mdi-view-sequential {
    color: rgb(30, 155, 227);
    cursor: pointer;
}

.mdi-view-headline {
    color: rgb(36, 82, 108);
    cursor: pointer;
}