#machine-table {
    height: 94%;
    width: 100%;
    box-shadow: inset 0px 0.3rem 0.3rem 0px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 0;
    background: rgb(38, 50, 56);
}

.table th {
    padding-top: 0.1rem;
}