#machine-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    cursor: default;
    display: flex;
    flex-flow: column wrap;
    font-size: 1vw;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

#machine-wrapper.show {
    visibility: visible;
    width: 100%
}

#machine-info {
    width: 0;
    height: 100%;
    background-color: rgba(60, 60, 60, 1);
    color: rgb(150, 150, 150);
    visibility: hidden;
    position: absolute;
    right: 0;
    transition: 0.2s ease-in-out;
}

.show>#machine-info {
    width: 40%;
    visibility: visible;
}

#machine-header {
    height: 12%;
    width: 100%;
    background-color: rgb(60, 60, 60);
}

#machine-content {
    height: 88%;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

#machine-name {
   width: 100%;
}

#machine-casino {
    width: 100%;
}

#machine-close {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

.machine-tab {
    margin-left: 20px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

.machine-tab:hover, #machine-edit:hover, #machine-close:hover {
    color: lightblue;
}

#machine-edit {
    padding-right: 2%;
    text-align: right;
    cursor: pointer;
}

.machine-tab-active {
    border-bottom: 2px solid lightblue;
}