#main-content {
    padding-left: 13%;
    background-color: white;
    height: 100%;
    max-width: 88%;
    transition: all 0.1s ease;
}

#main-content.expand {
    width: 97.5%;
}

.element-template {
    display: none;
}

.navigation-links {
    display: block;
    float: left;
}

.element-navigation-link {
    margin: 10px;
    float: left;
    display: block;
}

.element-page {
    display: none;
}

.element-page.active {
    display: block;
    float: left;
}

.hidden {
    display: none;
}