.btn {
    padding: 0 0.5rem;
    height: auto;
    transition: none;
}

.btn-success {
    background: rgb(30, 155, 227) !important;
    border-color: rgb(30, 155, 227) !important;
    border: none !important;
    text-decoration: none !important;
}

.btn-cancel {
    background: transparent !important;
    border: none;
    color: rgb(120, 144, 156);
}

.btn-cancel:focus, .btn-success:focus, .btn-success:hover, .btn-cancel:hover {
    border: none;
    background: transparent;
    box-shadow: unset !important;
    text-decoration: underline;
}

.btn-cancel:hover {
    color: white !important;
    background: rgb(55, 71, 79) !important;
    text-decoration: underline;
}

.btn-cancel:active {
    text-decoration: none;
}

.btn-success:active {
    background: rgb(36, 82, 108) !important;
}

.form-switch, .form-checkbox, .form-radio {
    color: rgb(120, 144, 156);
}

.form-checkbox .form-icon, .form-checkbox input:focus+.form-icon, .form-checkbox input:checked+.form-icon, .form-radio input+.form-icon {
    background: rgb(120, 144, 156);
    border: .05rem solid rgb(120, 144, 156);
    box-shadow: unset;
    pointer-events: all;
}

.form-radio input:checked+.form-icon, .form-radio input:active+.form-icon, .form-radio input:focus+.form-icon {
    background: white;
    border: .05rem solid white;
    box-shadow: unset;
}

.form-radio input:checked+.form-icon::before {
    background: rgb(30, 155, 227);
    height: 7px;
    width: 7px;
}

.form-switch input+.form-icon::before {
    background: rgb(120, 144, 156);
}

.form-switch input:checked+.form-icon::before {
    background: rgb(75, 195, 247);
}

.form-checkbox input:checked+.form-icon::before {
    border: .1rem solid rgb(30, 155, 227);
    transform: rotate(0);
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    margin: auto;
    background: rgb(30, 155, 227);
}

.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon {
    background: white;
    border-color: rgb(30, 155, 227);
}

.form-checkbox input:checked+.form-icon+div, .form-radio input:checked+.form-icon+div {
    color: white;
}

.form-checkbox input:active+.form-icon, .form-radio input:active+.form-icon, .form-switch input:active+.form-icon::before {
    background: rgb(55, 71, 79);
}

.form-select {
    border: 0 !important;
    border-bottom: 2px solid rgb(120, 144, 156) !important;
    border-radius: 0;
    color: rgb(120, 144, 156);
    cursor: pointer;
    background: rgb(55, 71, 79) url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem !important;
}

.form-select:focus, .form-select:active {
    border: none;
    border-color: unset;
    box-shadow: unset;
}

.form-input {
    border: none;
    white-space: nowrap;
    background: rgb(55, 71, 79);
    border-bottom: 1px solid rgb(120, 144, 156);
    color: white;
    padding: 0.2rem 1rem 0.2rem 0.5rem;
    line-height: unset;
    height: auto;
    font-size: 13px;
}

.form-input:focus {
    border-color: rgb(120, 144, 156);
    box-shadow: unset;
}

.form-label {
    color: rgb(120, 144, 156);
}

.info-box-round {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    white-space: nowrap;
    color: rgb(120, 144, 156);
    background: rgb(38, 50, 56);
    border-radius: 1rem;
    display: inline-flex;
    margin: 0 0.5rem;
}

tr, .table.table-striped tbody tr:nth-of-type(odd) {
    background: rgb(38, 50, 56);
    ;
}

.table thead {
    color: rgb(120, 144, 156);
}

.table.table-hover tbody tr:hover {
    background: rgb(55, 71, 79);
}

.table.table-striped tbody, a:hover {
    color: white;
}

table {
    cursor: pointer;
}

.table td, .table th {
    border-bottom: .05rem solid rgb(120, 144, 156);
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
    box-shadow: unset;
    text-decoration: none;
}

a:active, a:focus {
    color: white;
    box-shadow: unset;
    text-decoration: none;
}

body {
    background-color: #2B353B;
}

.form-group {
    height: auto;
}

.loading::after {
    border: .1rem solid white !important;
    height: 1em !important;
    width: 1em !important;
    margin-left: -0.5em !important;
    margin-top: -0.5em !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: inherit !important;
}