.notifications-container {
    float: right;
    z-index: 1000;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1em;
    right: 1em;
    width: 20em;
    /*min-height: 10px;*/
    font-weight: normal;
    text-align: center;
}

.toast {
    margin-bottom: 3px;
}

#notification-template {
    display: none;
}

.hidden {
    display: none;
}

.toast.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}