.pagination {
    justify-content: left;
    width: 500px;
    position: absolute;
    left:0;
    bottom:0;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/*.element-pagination-page-button.active {*/
/*background-color: red;*/
/*}*/

.pagination.smaller-table {
    top: 67vh;
}

.element-pagination-page-button.hidden {
    display: none;
}

.pagination-last-page:hover {
    background-color: gray;
}

.pagination-last-page-hover {
    display: none;
}

.element-pagination-page-button, .pagination .element-pagination-link {
    color: rgb(111, 134, 144);
    background: rgb(38, 50, 56);
    border: none;
    padding: 0.2rem 0.3rem;
    border-radius: 10%;
}

.page-item button {
    outline:none;
}

.element-pagination-link, .element-pagination-page-button {
    cursor: pointer;
}

.element-pagination-page-button:hover, .element-pagination-page-button.active, .element-pagination-link {
    color: rgb(255, 255, 255);
    background: rgb(58, 73, 80);
    border: none;
}

.pagination .page-item a {
    padding: 0;
}

