.pagination {
    justify-content: flex-end;
}

.pagination ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.element-pagination-page-button.active {
    background-color: red;
}

.element-pagination-page-button.hidden {
    display: none;
}