
#sidebar-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 12%;
    height: 100%;
    color: rgb(150, 150, 150);
    cursor: default;
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(60, 60, 60);
    font-size: 1vw;
}

#sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

#sidebar-wrapper.collapse {
    width: 2.5%;
    background-color: rgb(30, 30, 30);
}

#sidebar-name {
    width: 100%;
    height: 14%;
    font-size: 1vw;
}

.collapse #sidebar-name {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center
}

#team-name {
    visibility: visible;
    width: auto;
    font-size: 1vw;
}

.collapse .list-management>.icon-tooltip, .collapse #global-search>.icon-tooltip {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid rgb(30, 30, 30);
    border-radius: 1em;
    text-align: center;
    background-color: transparent;
}

.collapse #head-name, .collapse #icon-collapse, .collapse #global-search {
    padding: 0;
    justify-content: center;
    width: 100%;
    height: 33%;
}

#icon-collapse {
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collapse #icon-collapse {
    margin: 0;
    padding: 0;
    left: 0;
}

#global-search {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
}

#local-search {
    width: 80%;
}

#sidebar-link {
    font-size: 1vw;
    border-bottom: 2px solid rgb(30, 30, 30);
}

#sidebar-link>div {
    cursor: pointer;
    border-top: 2px solid rgb(30, 30, 30);
}

.list-management {
    list-style-type: none;
    width: 100%;
    text-transform: capitalize;
    height: 60px;
}

.list-management:hover, #global-search:hover, #icon-collapse:hover, .link-list:hover {
    color: blue;
}

.tooltip-text {
    visibility: hidden;
    width: 0;
    color: rgb(150, 150, 150);
    background-color: rgb(30, 30, 30);
    position: absolute;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em;
    text-transform: capitalize;
}

.tooltip-text:before {
    content: "";
    position: absolute;
    right: 95%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-right: 0.6em solid rgb(30, 30, 30);
    border-bottom: 0.3em solid transparent;
}

.collapse div:hover>.tooltip-text, .collapse #global-search:hover>.tooltip-text {
    visibility: visible;
    width: auto;
    left: 115%;
}

.collapse .icon-tooltip:hover {
    background-color: rgb(60, 60, 60);
}

.list-name {
    width: 80%;
    visibility: visible;
}

#sidebar-logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    font-size: 1vw;
}

#sidebar-hidden {
    width: 0;
    height: 100%;
    position: fixed;
    display: block;
    background-color: gray;
    visibility: hidden;
    left: 0;
    overflow: auto;
    background-color: rgb(60, 60, 60);
    color: rgb(150, 150, 150);
    font-size: 1vw;
    transition: 0.2s ease-in-out;
}

#sidebar-hidden.show {
    visibility: visible;
    width: 19%;
}

#sidebar-hidden.hide {
    visibility: visible;
    width: 0;
}

#navigation-name {
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#head-name {
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: left;
    padding-left: 5%;
}

#navigation-name>h2 {
    width: 100%;
    font-size: 1vw;
    padding-left: 5%;
}

#navigation-name>input {
    font-size: 1vw;
}

#chosen-link {
    width: 80%;
    text-transform: capitalize;
}

#back-to-menu {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    padding-left: 5%;
}

#navigation-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.lists {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.link-list {
    display: block;
    width: 80%;
    cursor: pointer;
}

h3 {
    width: 80%;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(30, 30, 30);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse .list-name, .collapse #global-search>div, .collapse #team-name, .collapse #sidebar-logo {
    visibility: hidden;
    width: 0;
}

.list-active, .link-active {
    color: white;
}

#sidebar-hidden::-webkit-scrollbar {
    width: 3%;
}

#sidebar-hidden::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: rgb(100, 100, 100);
}

#sidebar-hidden::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 42);
    border-radius: 50px;
}