#sidebar {
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 230px;
    min-width: 230px;
    height: 100%;
    color: rgb(120, 144, 156);
    cursor: default;
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 50, 56);
    font-size: 0.938em;
    box-sizing: border-box;
    transition: all 0.1s ease;
    white-space: nowrap;
    font-family: "Open Sans";
    font-weight: 600;
    border-right: 2px solid black;
}

#sidebar.collapse {
    width: 50px;
    min-width: 50px;
}

#sidebar-name {
    width: 100%;
}

#sidebar-name>div {
    width: 100%;
    padding: 0.5rem 1.2rem;
}

.team-name {
    width: auto;
    transition: all 0.1s ease;
}

.collapse #global-search>.custom-tooltip, .collapse #icon-collapse>.custom-tooltip {
    width: 100%;
}

.collapse #head-name {
    padding: 0.5em 0.2em;
    display: block;
}

.collapse #global-search, .collapse #team-logo {
    position: relative;
    width: 100%;
    padding: 0.5em 0.2em;
    top: 0;
    right: 0;
}

.collapse #icon-collapse {
    background-color: rgb(38, 50, 56);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5em 0.2em;
}

#icon-collapse {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

#global-search {
    cursor: pointer;
    display: flex;
}

#global-search>div {
    transition: all 0.1s ease;
    padding-left: 0.3em;
}

#search-link {
    width: 70%;
}

.search {
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 2px solid #78909c;
    color: white;
    line-height: initial;
    width: 100%;
}

.search:focus {
    border-bottom: 2px solid rgb(30, 155, 227);
    ;
}

#sidebar-list {
    height: 70%;
}

#sidebar-list>div {
    position: relative;
    cursor: pointer;
    margin: 0.5em 0.2em;
}

.list-management {
    list-style-type: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
}

.collapse #icon-collapse>.mdi, .collapse #global-search>.mdi {
    border-radius: 5px;
    padding: 0.5em;
}

#sidebar-list>div:hover, #global-search:hover, .link-list:hover, #icon-collapse:hover>.mdi, #back-to-menu:hover {
    color: white;
    text-decoration: none;
}

.collapse>#sidebar-list>div:hover>.list-management, .collapse #global-search:hover>.mdi, .collapse #icon-collapse:hover>.mdi, #sidebar-list>div:hover>.list-management, .link-list:hover {
    background-color: rgb(55, 71, 79);
    text-decoration: none;
}

#tooltip-text {
    color: rgb(120, 144, 156);
    background-color: rgb(0, 0, 0);
    position: fixed;
    text-align: center;
    border-radius: 5px;
    left: 55px;
    display: block;
    visibility: visible;
    padding: 0 1rem;
    width: auto;
    height: auto;
    font-size: 0.938em;
    z-index: 1000;
}

#tooltip-text:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 30%;
    width: 0;
    height: 0;
    border-top: 0.25em solid transparent;
    border-right: 0.25em solid rgb(0, 0, 0);
    border-bottom: 0.25em solid transparent;
}

#tooltip-text.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    pointer-events: none;
    font-size: 0;
}

#team-logo {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
    transition: all 0.1s ease;
}

.collapse #team-logo {
    visibility: visible;
    width: auto;
    height: auto;
    opacity: 1;
    font-size: 0.938em;
}

.list-name {
    width: 80%;
    opacity: 1;
    padding-left: 0.3em;
    transition: all 0.1s ease;
}

#sidebar-logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    transition: all 0.1s ease;
    background: rgb(38, 50, 56);
    font-size: 15vh;
}

#navigation-sidebar {
    width: 365px;
    height: 100%;
    transform: translateX(0);
    position: absolute;
    left: 0;
    background-color: rgb(38, 50, 56);
    color: rgb(120, 144, 156);
    transition: all 0.2s ease;
    z-index: 30;
    font-size: 0.938em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(1, 1, 1, 0.2);
}

#navigation-sidebar.collapse {
    transform: translateX(-100%);
}

#navigation-name {
    padding: 0 1rem;
}

#head-name {
    display: inline-flex;
}

#navigation-name>.team-name {
    opacity: 1;
}

#navigation-name>div {
    padding: 0.5rem 0;
}

#chosen-link {
    width: 85%;
    color: white;
}

#back-to-menu {
    width: 15%;
    cursor: pointer;
}

#navigation-content {
    display: block;
    padding: 1em;
    height: 85%;
}

.lists {
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

.link-list {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: auto;
    padding: 0.2em 15%;
    border-radius: 5px;
    color: rgb(120, 144, 156);
}

.lists>div {
    margin: auto;
    margin-bottom: 0.5em;
    width: 70%;
    border-bottom: 2px solid rgb(27, 31, 37);
    color: white;
    padding-bottom: 0.1em;
}

.collapse .list-name, .collapse #global-search>div, .collapse .team-name, .collapse #sidebar-logo {
    display: none;
}

.list-active, .link-active, .select-active {
    color: white !important;
    background: rgb(55, 71, 79) !important;
}

#test-enable-details {
    color: white;
    background: black;
}