@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

#sidebar-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 19%;
    height: 100%;
    font-family: 'roboto';
    color: rgb(150, 150, 150);
    cursor: default;
}

#sidebar {
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    /* animation-name: slideExpand;
    animation-duration: 0.1s; */
    width: 64%;
    height: 100%;
    left: 0;
    background-color: rgb(30, 30, 30);
    margin-right: 1%;
}

#sidebar.collapse {
    /* animation-name: slideCollapse;
    animation-duration: 0.1s; */
    width: 12.5%;
}

#sidebar-name {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 14%;
    background-color: rgb(60, 60, 60);
    font-size: 1vw;
}

.collapse>#sidebar-name {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center
}

#team-name {
    visibility: visible;
    width: auto;
    font-size: 1vw;
}

.collapse .list-management {
    background-color: rgb(30, 30, 30);
}

.collapse .list-management>.icon-tooltip, .collapse #global-search>.icon-tooltip {
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.collapse #head-name {
    justify-content: center;
}

#icon-collapse {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding-right: 5%;
}

.collapse #icon-collapse {
    left: 0;
}

#global-search {
    width: 95%;
    height: 33%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

#local-search {
    width: 80%;
    background-color: rgb(60, 60, 60);
    border: 0;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
}

#sidebar-link {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 14%;
    width: 100%;
    background-color: transparent;
    font-size: 1vw;
}

#sidebar-link>.list-management {
    margin-top: 1%;
}

.list-management {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    list-style-type: none;
    width: 95%;
    background-color: rgb(60, 60, 60);
    cursor: pointer;
    text-transform: capitalize;
    height: 60px;
    display: flex;
    align-items: center;
}

.list-management:hover, #global-search:hover, #icon-collapse:hover, .link-list:hover {
    color: blue;
}

.tooltip-text {
    visibility: hidden;
    width: 0;
}

.collapse .list-management:hover>.tooltip-text, .collapse #global-search:hover>.tooltip-text {
    color: rgb(150, 150, 150);
    visibility: visible;
    background-color: rgb(30, 30, 30);
    width: auto;
    margin-left: 100%;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.list-name {
    width: 80%;
    visibility: visible;
}

#sidebar-logo {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    font-size: 1vw;
}

#sidebar-local {
    width: 0;
    height: 100%;
    position: absolute;
    display: block;
    background-color: gray;
    visibility: hidden;
    left: 0;
    overflow: auto;
    background-color: rgb(60, 60, 60);
    color: rgb(150, 150, 150);
    font-size: 1vw;
}

#sidebar-local.show {
    visibility: visible;
    animation-name: slideIn;
    animation-duration: 0.5s;
    width: 100%;
}

#sidebar-local.hide {
    visibility: visible;
    animation-name: slideOut;
    animation-duration: 0.5s;
    width: 0;
}

#navigation-name {
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#head-name {
    width: 80%;
    height: 33%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: left;
    padding-left: 5%;
    position: absolute;
    top: 0;
    font-size: 1vw;
}

#navigation-name>h2 {
    width: 100%;
    font-size: 1vw;
    padding-left: 5%;
}

#navigation-name>input {
    font-size: 1vw;
}

#chosen-link {
    width: 80%;
    text-transform: capitalize;
}

#back-to-menu {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    padding-left: 5%;
}

#navigation-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.lists {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.link-list {
    display: block;
    width: 80%;
    cursor: pointer;
    margin: 2px;
}

h3 {
    width: 80%;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(30, 30, 30);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.collapse .list-name, .collapse #global-search>div, .collapse #team-name, .collapse>#sidebar-logo {
    /* animation-name: slideHide;
    animation-duration: 0.5s; */
    visibility: hidden;
    width: 0;
}

.list-active, .link-active {
    color: white;
}

#sidebar-local::-webkit-scrollbar {
    width: 3%;
}

#sidebar-local::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: rgb(100, 100, 100);
}

#sidebar-local::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 42);
    border-radius: 50px;
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    75% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideOut {
    0% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* @keyframes slideCollapse {
    0% {
        width: 64%;
    }
    75% {
        width: 64%;
    }
    100% {
        width: 12.5%;
    }
}

@keyframes slideExpand {
    0% {
        width: 12.5%;
    }
    75% {
        width: 12.5%;
    }
    100% {
        width: 64%;
    }
}

 @keyframes slideHide {
    0% {
        width: 100%;
    }
    75% {
        width: 0%;
    }
    100% {
        width: 0%;
    }
}  */

.button {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(150, 150, 150);
}

.button:hover {
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.confirm:hover {
    background-color: green;
}

.utility:hover {
    background-color: skyblue;
}

.discard:hover {
    background-color: red;
}

.new:hover {
    background-color: white;
}