.table {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0.1em 0;
}

.tbody {
    display: grid;
    position: center;
    width: 100%;
    height: auto;
    padding-left: 0.7rem;
}

.cell {
    background-color: rgb(38, 50, 56);
    padding: 0.5em;
    border-bottom: 1px solid #37454C;
    color: #cfd8dc;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
}

.cell.hover {
    background-color: #3A4950;
    color: white;
}

.first.cell {
    top: 0;
    left: 0;
    padding-left: 0.5rem;
}

.head.cell {
    background-color: rgb(38, 50, 56);
    color: #728894;
    top: 0;
    transition: 0.2s background-color;
    width: 100%;
}

.head.cell:hover {
    background-color: #3A4950;
}

.head.cell:nth-child(1) {
    left: 0;
    z-index: 1;
}

.head.active-column {
    background: rgba(58, 73, 80, 1);
    color: white;
}

.head.cell.sort-asc {
    position: relative;
}

.table .cell.last-cell {
    text-align: right;
    padding-right: 1.5rem;
}

.sticky {
    position: sticky !important;
    position: -webkit-sticky;
    font-weight: 800;
}

.active-column {
    background: rgba(58, 73, 80, 0.4);
    color: white;
}

.head.cell.sort-asc:after {
    position: absolute;
    display: inline-block;
    content: '';
    background-image: url("/images/arrow-up-table-sorting.png");
    height: 13px;
    width: 8px;
    top: 27%;
    margin-left: 5px
}

.head.cell.sort-desc {
    position: relative;
}

.head.cell.sort-desc:after {
    position: absolute;
    display: inline-block;
    content: '';
    background-image: url("/images/arrow-down-table-sorting.png");
    height: 13px;
    width: 8px;
    top: 27%;
    margin-left: 5px
}

.element-table-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 0;
}

.element-table-filters-section {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #3A4950;
}

.tbody::-webkit-scrollbar {
    width: 5px;
    background-color: #3A4950;
}

.tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6F858F;
}

.select {
    margin: 10px;
    height: 30px;
}

.multiple-select {
    height: 80px;
    margin: 10px;
}

textarea {
    height: 30px;
}

.table-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 500px;
}

.apply {
    margin: 20px 20px 0 0;
}

.reset {
    margin: 20px 0 0 20px;
}

.hide-column-section, .row-flag-section {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 20px 0;
    justify-content: flex-start;

}

.hide-column-button, .row-flag-button {
    margin-left: 20px;
}

.hidden-column {
    display: none;
}


/** FLAGS **/
.tbody > .row-flag-3 {
    border-left: 7px solid red;
}

.tbody > .row-flag-3 ~ .row-flag-3 {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.tbody > .row-flag-5 {
    border-left: 7px solid lawngreen;
}

.tbody > .row-flag-5 ~ .row-flag-5 {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.tbody > .row-flag-6 {
    border-left: 7px solid blue;
}

.tbody > .row-flag-6 ~ .row-flag-6 {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.tbody > .row-flag-8 {
    border-left: 7px solid yellow;
}

.tbody > .row-flag-8 ~ .row-flag-8 {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.tbody > .row-flag-11 {
    border-left: 7px solid orange;
}

.tbody > .row-flag-11 ~ .row-flag-11 {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.head.cell.first-cell {
    left: auto;
    z-index: 0;
}

.table-condensed .cell {
    height: 47px;
    /*padding: 0.25rem;*/
}

.table-expanded .cell {
    /*padding: 0.49rem;*/
    height: 49px;
}

.empty-table {
    padding: 25px;
    font-size: 30px;
}

.cell-amountcashable {
    text-align: right;
    padding-right: 20px;
}

.table-time {
    color: #6D818C;
}
/*

.head.cell {
    width: 300px;
}

.cell {
    width: 300px;
}
*/

