.table {
    position: relative;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 0.1em 0;
}

.first.cell {
    top: 0;
    left: 0;
}

.cell {
    background-color: #ffffff;
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}

.cell.hover {
    background-color: #efefef;
}

.head.cell {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #53a5dd;
    color: #ffffff;
    top: 0;
    transition: 0.2s background-color;
}

.head.cell:hover {
    background-color: #6cb7ea;
}

.head.cell:nth-child(1) {
    left: 0;
    z-index: 1;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

.tbody {
    overflow: auto;
    display: grid;
    /*position: absolute;*/
    width: 500px;
    height: 500px;
}