.body {
    overflow: hidden;
    position: relative;
}

.body::-webkit-scrollbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.vertex-table.table {
    position: static;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 0.1rem;
}

.table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #3A4950;
}

.table::-webkit-scrollbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    /* Increase/Decrease this value for cross-browser compatibility  */
    overflow-y: scroll;
}

.table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6F858F;
}

.vertex-table .tbody {
    display: grid;
    position: center;
    width: 100%;
    overflow: auto;
    max-height: 80%;
}
.vertex-table .tbody.no-scroll {
    overflow: hidden !important;
}

.vertex-table .cell {
    background-color: rgb(38, 50, 56);
    padding-left: 0.5em;
    border-bottom: 1px solid #37454C;
    color: #cfd8dc;
    white-space: nowrap;
    cursor: default;
    width: 100%;
    display: flex;
    font-family: OpenSans-Regular;
    font-size: 13px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.vertex-table .cell.column-action-list {
    flex-direction: row;
    justify-content: flex-end;
}
.vertex-table .cell.row-chosen {
    background-color: #2F3B41;
}
.cell.hover {
    background-color: #2F3B41;
    color: white;
    cursor: default;
}

.first.cell {
    top: 0;
    left: 0;
    padding-left: 0.5rem;
    font-size: 13px;
}

.head.cell {
    pointer-events: auto;
    background-color: rgb(38, 50, 56);
    color: #728894;
    top: 0;
    transition: 0.2s background-color;
    width: 100%;
    font-family: OpenSans-Bold;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cell.first-cell.cell-flag, .cell-cancel-head.cell.cell-cancel {
    top: 0;
    position: sticky !important;
    position: -webkit-sticky;
}

.head.cell.sortable:hover {
    background-color: #2F3B41;
    cursor: pointer;
}

.head.cell.sortable:hover:after {
    content: '';
    background-image: url("/images/arrow-up-table-sorting.png");
    height: 13px;
    width: 8px;
    top: 27%;
    margin-left: 5px
}
.vertex-table .head.cell.sort-asc:after {
    /*    position: absolute;
        display: inline-block;*/
    content: '';
    background-image: url("/images/arrow-up-table-sorting.png");
    height: 13px;
    width: 8px;
    top: 27%;
    margin-left: 5px
}

.vertex-table .head.cell.sortable.sort-desc {
    position: relative;
}

.vertex-table .head.cell.sortable.sort-desc:after {
    /*    position: absolute;
        display: inline-block;*/
    content: '';
    background-image: url("/images/arrow-down-table-sorting.png");
    height: 13px;
    width: 8px;
    top: 27%;
    margin-left: 5px
}
.head.cell:nth-child(1) {
    left: 0;
}

.head.active-column,
.cell.active-column {
    background: #2F3B41;
    color: white;
}

.head.cell.sort-asc {
    position: relative;
}

.table .cell.last-cell {
    padding-right: 30px;
}

.sticky {
    position: sticky !important;
    position: -webkit-sticky;
    font-weight: 800;
}

.active-column {
    background: #2b383f;
    color: white;
}

.element-table-filters-container {}

.element-table-filters-section {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #3A4950;
}

.tbody::-webkit-scrollbar {
    width: 5px;
    background-color: #3A4950;
}

.tbody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #6F858F;
}

.select {
    margin: 10px;
    height: 30px;
}

.multiple-select {
    height: 80px;
    margin: 10px;
}

textarea {
    height: 30px;
}

.table-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 500px;
}

.apply {
    margin: 20px 20px 0 0;
}

.reset {
    margin: 20px 0 0 20px;
}

.hide-column-section, .row-flag-section {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 20px 0;
    justify-content: flex-start;
}

.hide-column-button, .row-flag-button {
    margin-left: 20px;
}

.hidden-column {
    display: none !important;
}

/** FLAGS **/

.head.cell.cell-flag,
.table-item.cell.cell-flag{
    width:25px;
}
.cell-flag.row-flag-1 {
    border-left: 7px solid lawngreen;
}

.cell-flag.row-flag-2 {
    border-left: 7px solid #F3413A;
}

.cell-flag.row-flag-3 {
    border-left: 7px solid orange;
}
.cell .flag-element {
    width:7px;
    height:100%;
    /* cell has 0.5em left padding*/
    left: -0.5em;
    position: relative;
}
.cell .flag-element.flag-1 {
background-color:lawngreen;
}
.cell .flag-element.flag-2 {
background-color:#F3413A;
}
.cell .flag-element.flag-3 {
background-color:orange;
}

.table-condensed .cell {
    height: 44px;
}

.vertex-table .cancel-indicator {
}

.vertex-table .hover .cancel-indicator {
    display:flex;
}

.vertex-table .table-actions-column {
    width:49px;
    padding:0 !important;
}
.vertex-table.table-condensed .table-actions-column {
    width:44px;
}


.vertex-table .cancel-indicator {
    width:100%;
    height:100%;
    max-width: 49px;
    display:none;
    flex-direction: column;
    background: rgb(30, 155, 227);
    justify-content: center;
    align-items: center;
}
.vertex-table .cancel-indicator span {
    font-size:12px;
    color:white;
}
.vertex-table .cell.flex-column {
    flex-direction: column;
}
.vertex-table .cell.justify-content-start {
    justify-content: flex-start;
}
.vertex-table .cell.align-items-start {
    align-items: flex-start;
}
.vertex-table .cell.text-right {
    justify-content: flex-end;
    text-align: right;
}
.table-condensed .cell .table-time {
    font-size: 11px !important;
}

.table-condensed .cell h6 {
    font-size: 15px;
}

.table-expanded .cell {
    height: 49px;
}

.table-expanded .cell .table-time {
    font-size: 13px !important;
}

/*.table-expanded .cell h6 {
    font-size: 0.8rem;
}*/

.table-element-no-data {
    padding: 25px;
    font-size: 30px;
}

.cell-amountcashable {
    justify-content: flex-end;
    text-align: right;
    padding-right: 20px;
}

.cell-createdby, .cell-finishedby, .cell-issuedby, .cell-redeemedby {
    display: block;
}

.cell-createdby.head, .cell-finishedby.head, .cell-issuedby.head, .cell-redeemedby.head {
    display: flex;
    flex-direction: row;
}

.table-time {
    color: #6D818C;
}

.cell-createdby.head.hidden-column, .cell-finishedby.head.hidden-column, .cell-cashoutedby.head.hidden-column, .cell-redeemedby.head.hidden-column {
    display: none;
}

#aft-tabs-transaction-info .cell.cell-createdby.first {
    margin-left: 0;
    width: 100%;
    padding-right: 10px;
}

#aft-tabs-transaction-info .cell.cell-createdby.first .table-time {
    font-size: 12px;
}

#aft-tabs-transaction-info .cell.cell-createdby.first .h6 {
    font-size: 13px;
    font-weight: bold;
}

.cell.cell-cashable {
    justify-content: flex-end;
    text-align: right;
    padding-right: 1.5rem;
}

.vertex-table .cell.clickable {
    cursor: pointer;
    pointer-events: auto;
}


