#top-bar {
    background: transparent;
    height: 5%;
    background: rgb(55, 71, 79);
    color: rgb(120, 144, 156);
    position: relative;
    display: flex;
    align-items: center;
    height: 5%;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 500;
}

#top-bar>div {
    display: inline-flex;
    padding: 0.5em;
    font-size: 14px;
}

/* selektor * */

#top-bar>div>* {
    padding-right: 0.5rem;
}

#top-bar-logout {
    position: absolute;
    right: 0.5rem;
    border-radius: 0.5em 0.5em 0 0;
    border-top: 1px solid rgb(55, 71, 79);
    cursor: pointer;
}

#top-bar-logout>div {
    pointer-events: none;
}

#top-bar-logout-dropdown-menu {
    position: absolute;
    right: 0;
    background: rgb(38, 50, 56);
    z-index: 1;
    box-shadow: 0 0.5em 0.5em rgba(1, 1, 1, 0.5);
    border-radius: 0.5em 0 0.5em 0.5em;
    padding: 0.5em;
    min-width: 220px;
    pointer-events: all;
}

#top-bar-logout-dropdown-menu>div:first-child {
    border-bottom: 1px solid rgb(55, 71, 79);
}

#top-bar-logout-dropdown-menu>div:first-child {
    white-space: nowrap;
    padding: 0.5em 0;
}

#top-bar-logout-user {
    cursor: pointer;
    display: flex;
}

.element-cashable-active-tickets-value, .element-promo-active-tickets-value, .color-white {
    color: white;
}

.info-box-round>div {
    padding: 0 0.2em;
}

.logout-is-opened {
    background: rgb(38, 50, 56);
    border-color: rgba(1, 1, 1, 0.2) !important;
    box-shadow: 0 0.5em 0.5em rgba(1, 1, 1, 0.5);
}

.grid-user-info {
    display: grid;
    grid-template-areas: 'name-and-surname user-img' 'email user-img';
    grid-gap: 0.5em;
}

.name-and-surname-area {
    grid-area: name-and-surname;
    font-size: 14px;
}

.email-area {
    grid-area: email;
    font-size: 12px;
}

.user-img-area {
    grid-area: user-img;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#top-bar-edit-and-logout-user {
    display: grid;
    white-space: nowrap;
    padding: 0.5em 0;
}

#top-bar-edit-and-logout-user>div {
    cursor: pointer;
    padding: 0.5em;
    font-size: 14px;
}

#top-bar-edit-and-logout-user>div:hover {
    background: rgb(55, 71, 79);
    color: white;
}